{{#each ListadeProductos}}
    <h3>{{ nombre_del_producto }}: $ {{ precio }}</h3>
{{/each}}

    <h1>Tabla de Productos</h1>
    <table>
            <thead>
                <tr>
                    <th scope="col">Titulo</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Imagen</th>
                </tr>
            </thead>
            {{#each ListadeProductos}} 
                <tr>
                    <td>{{nombre_del_producto}}</td>
                    <td>${{precio}}</td>
                    <td>{{imagen}}</td>
                </tr>
            {{/each}}
    </table>


<a href="http://localhost:8080">
    <button onclick="retu" type="submit" class="btn btn-primary">Volver al Formulario</button>
</a>
            